<button type="button" class="btn btn-primary cat-size">First Category</button>
<button type="button" class="btn btn-secondary cat-size">second Category</button>
<button type="button" class="btn btn-success cat-size">third Category</button>
<button type="button" class="btn btn-danger cat-size">fourth Category</button>
<button type="button" class="btn btn-warning cat-size">fifth Category</button>
<button type="button" class="btn btn-info cat-size">sixth Category</button>
<button type="button" class="btn btn-light cat-size">seventh Category</button>
<button type="button" class="btn btn-dark cat-size">eight Category</button>

<!-- <button type="button" class="btn btn-link">Link</button> -->
